<launch>
	<node name="ar_kinect" pkg="ar_kinect" type="ar_kinect" respawn="true" output="screen">
		<remap from="points" to="/camera/depth_registered/points"/>
		<param name="marker_pattern_list" type="string" value="$(find ar_tag_smoother)/data/objects_kinect"/>
		<param name="marker_data_directory" type="string" value="$(find ar_pose)"/>
		<param name="threshold" type="int" value="100"/>
	</node>

	<!--node pkg="tf" type="static_transform_publisher" name="dimitri_base_link_to_dimitri_marker_transform" args="-0.045 -0.00 -0.04 0.03 1.1 0.0 1.0 dimitri_marker base_link 10" /-->
	
	<node name="dimitri_marker_smoother" pkg="ar_tag_smoother" type="smoother.py" output="screen">
		<param name="rate" type="int" value="20"/>
		<param name="input_topic" type="string" value="dimitri_marker_raw"/>
		<param name="output_topic" type="string" value="dimitri_marker"/>
	</node>
</launch>
